name: CI

# TODO(polina-c): configure auto-update for diagrams
# https://github.com/dart-lang/leak_tracker/issues/104

on:
  schedule:
    # “At 00:00 (UTC) on Sunday.”
    - cron: '0 0 * * 0'
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: clone the repo
        uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633

      - name: install Flutter sdk
        uses: subosito/flutter-action@3d804929922b667a63a229bc59037807f969e885
        with:
          channel: 'master'

      - name: version
        run: flutter --version

      - name: analyze
        run: sh ./tool/analyze.sh

      # unit tests:

      - name: test leak_tracker
        run: dart test
        working-directory: pkgs/leak_tracker

      - name: test leak_tracker_testing
        run: dart test
        working-directory: pkgs/leak_tracker_testing

      - name: test leak_tracker_flutter_testing
        run: flutter test --enable-vmservice
        working-directory: pkgs/leak_tracker_flutter_testing

      - name: test memory_usage
        run: dart test
        working-directory: pkgs/memory_usage

      # integration tests:

      - name: integration test examples/autosnapshotting
        run: flutter test integration_test/app_test.dart -d flutter-tester
        working-directory: examples/autosnapshotting

      # cycles:

      - name: cycles in leak_tracker
        run: dart run layerlens --fail-on-cycles
        working-directory: pkgs/leak_tracker

      - name: cycles in leak_tracker_testing
        run: dart run layerlens --fail-on-cycles
        working-directory: pkgs/leak_tracker_testing

      - name: cycles in leak_tracker_flutter_testing
        run: dart run layerlens --fail-on-cycles
        working-directory: pkgs/leak_tracker_flutter_testing

      - name: cycles in memory_usage
        run: dart run layerlens --fail-on-cycles
        working-directory: pkgs/memory_usage
